**Set**

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Create a Set:

In [1]:
set_example = {"python", "machine learning", "data science"}
print(set_example)

{'data science', 'machine learning', 'python'}

**Note**: Sets are unordered, so we cannot be sure in which order the items will appear.

We cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Loop through the set, and print the values:

In [2]:
set_example = {"python", "machine learning", "data science"}
for course in set_example:
  print("Course\n",course)

Course
 data science
Course
 machine learning
Course
 python

Check if element is present in the set:

In [3]:
print("python" in set_example)

True

**Change Items**


Once a set is created, you cannot change its items, but you can add new items.

**Add Items**

* To add one item to a set use the add() method.

* To add more than one item to a set use the update() method.

In [4]:
set_example.add("deep learning")
print(set_example)

{'deep learning', 'data science', 'machine learning', 'python'}

In [5]:
set_example.update(["NLP", "Computer Vision", "Big DATA"])
print(set_example)

{'data science', 'NLP', 'python', 'Big DATA', 'Computer Vision', 'deep learning', 'machine learning'}

**Get the Length of a Set**

To determine how many items a set has, use the len() method.

In [6]:
print(len(set_example))

7

**Remove Item**

To remove an item in a set, use the remove(), or the discard() method.

In [7]:
#Remove "Big DATA" by using the remove() method:
set_example.remove("Big DATA")
print(set_example)

{'data science', 'NLP', 'python', 'Computer Vision', 'deep learning', 'machine learning'}

In [8]:
#Remove "Computer Vision" by using the discard() method:
set_example.discard("Computer Vision")
print(set_example)

{'data science', 'NLP', 'python', 'deep learning', 'machine learning'}

You can also use the **pop()**, method to remove an item, but this method will remove the last item. Remember that sets are unordered, so we will not know what item that gets removed.

The return value of the **pop()** method is the removed item.

In [9]:

x = set_example.pop()

print(x)

print(set_example)

data science
{'NLP', 'python', 'deep learning', 'machine learning'}

**Empties set using clear() method.**

In [10]:
set_example_1 = {10,20,30,40}
print(set_example_1)
set_example_1.clear()
print(set_example_1)

{40, 10, 20, 30}
set()

**Delete set using del keyword**

In [11]:
set_example_2 = {10,20,30,40}
print(set_example_2)
del set_example_2

{40, 10, 20, 30}

**Join Two Sets**

There are several ways to join two or more sets in Python.

We can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

The **union()** method returns a new set with all items from both sets:

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 'c', 2, 3, 'a'}

The **update(**) method inserts the items in set2 into set1:

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 'c', 2, 3, 'a'}

**Note**: Both union() and update() will exclude any duplicate items.

**The set() Constructor**

Using the set() constructor to make a set:

In [14]:
set_example_3 = set(("ml","ds","nlp"))
print(set_example_3)

{'ds', 'ml', 'nlp'}

**Set v/s Dictionary**

Sets are different in the sense that order does not matter and these will be used in cases where order does not matter.

Sets are especially useful when you need to ensure that an item only appears once in the set.

Dictionaries are used to store key, value pairs and are used when you want to easily find a value using a key, just like in a dictionary.

For example, you could store a list of items and links to more information about these items in a dictionary.